PIL
fabric
django==1.2.5
south==0.7.3
MySQL-python
beautifulsoup

-e git+git@github.com:tualatrix/django-xmlrpc.git@master#egg=django_xmlrpc
-e git+git@github.com:tualatrix/django-pingback.git@0.1.2#egg=pingback
