PIL
fabric
django==1.2.5
south==0.7.3
MySQL-python
beautifulsoup
pygments
django-debug-toolbar

-e svn+http://django-tagging.googlecode.com/svn/trunk/#egg=tagging
-e git+git@github.com:tualatrix/django-xmlrpc.git@master#egg=django_xmlrpc
-e git+git@github.com:tualatrix/django-pingback.git@v0.1.3#egg=pingback
