{% load menu %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
	<link rel="alternate" type="application/rss+xml" title="订阅 TualatriX Feed" href="/feed/latest/" />
	<link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico" />
	<meta name="verify-v1" content="5l8gAzcQ6k3ZBsFKJu1QhCuRjVnQqg5KLlGbPtyISGM=" />
</head>
        
<body>
    <div id="bgcontain"> 
        <div id="header">
            <h1><a href="/">I'm TualatriX!</a></h1>
            <form action="/" method="GET">
		    <div>
			    <input type="text" value="Search..." onfocus="if (value =='Search...'){value =''}" onblur="if (value ==''){value='Search...'}" name="s" id="s" />
			    <input type="image" id="searchsubmit" value="Search" src="/static/css/images/search.gif" />
		    </div>
            </form>
        </div> 

        <div id="menu">
		{% get_menu %}
        </div>
        <div class="contain">
            <div id="content" class="narrowcolumn">
                {% block content %}{% endblock %}
                {% block comment %}{% endblock %}
            </div>

{% include "sidebar.html" %}
	</div>
        <hr />
{% include "footer.html" %}
