{% load menu %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
    <link rel="alternate" type="application/rss+xml" title="订阅 TualatriX Feed" href="/feed/latest/">
</head>
        
<body>
    <div id="bgcontain"> 
        <div id="header">
            <h1><a href="/">I'm TualatriX!</a></h1>
            <form action="/" method="GET">
                <input type="text" value="Search..." onfocus="if (value =='Search...'){value =''}" onblur="if (value ==''){value='Search...'}" name="s" id="s" />
                <input type="image" id="searchsubmit" value="Search" src="/static/css/images/search.gif" />
            </form>
        </div> 

        <div id="menu">
		{% get_menu %}
        </div>

        <div class="contain">
            <div id="content" class="narrowcolumn">
                {% block content %}{% endblock %}
                {% block comment %}{% endblock %}
                {% if page %}
                <div class="pagenavi">
                    <span class="pages">
                        Page {{ current_page }} of {{ page.paginator.num_pages }}
                    </span>{% if query %}
			{% if page.has_previous %}
				{% ifnotequal range.0 1 %} <a href="{{ link }}/page/1/?s={{ query }}">第一页</a>{% endifnotequal %}
				<a href="{{ link }}/page/{{ page.previous_page_number }}?s={{ query }}">上页</a>
			{% endif %}
			{% for num in range %}
				{% ifequal num current_page %}<span class="current">{{ num }}</span>
				{% else %}<a href="{{ link }}/page/{{ num }}?s={{ query }}">{{ num }}</a>
				{% endifequal %}
			{% endfor %}
			{% if page.has_next %}<a href="{{ link }}/page/{{ page.next_page_number }}?s={{ query }}">下页</a>
				{% ifnotequal current_page page.next_page_number %}<a href="{{ link }}/page/{{ page.paginator.num_pages }}?s={{ query }}">最后页</a>{% endifnotequal %}
			{% endif %}
                    {% else %}
			{% if page.has_previous %}
				{% ifnotequal range.0 1 %} <a href="{{ link }}/page/1/">第一页</a>{% endifnotequal %}
				<a href="{{ link }}/page/{{ page.previous_page_number }}">上页</a>{% endif %}
				{% for num in range %}
					{% ifequal num current_page %}<span class="current">{{ num }}</span>
					{% else %}<a href="{{ link }}/page/{{ num }}">{{ num }}</a>
					{% endifequal %}
				{% endfor %}
				{% if page.has_next %}<a href="{{ link }}/page/{{ page.next_page_number }}">下页</a>
					{% ifnotequal current_page page.next_page_number %}<a href="{{ link }}/page/{{ page.paginator.num_pages }}">最后页</a>{% endifnotequal %}{% endif %}
				{% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <hr />

{% include "sidebar.html" %}
{% include "footer.html" %}
