{% extends "base.html" %}
{% load i18n %}

{% block title %} I'm TualatriX {% endblock %}

{% block content %}
	{% if posts %}
		{% for post in posts %}
		<div class="post" id="post-{{ post.id }}">
			{% include "post/title.html" %}
		
		<div class="clear"></div>
		<div class="entry">
			{% autoescape off %}
			{{ post.excerpt|linebreaks }} {% if post.pagebreak %}<a href="{{ post.get_absolute_url }}#more-{{ post.id }}">Read More...</a>{% endif %}
			{% endautoescape %}
		</div>
		</div>
		{% endfor %}
	{% else %}
		No artile yet!
	{% endif %}
{% endblock %}
