{% extends "base.html" %}
{% load i18n %}

{% block title %} {{ post.title }} | I'm TualatriX {% endblock %}

{% block content %}
	<div class="post" id="post-{{ post.id }}">
	{% include "post/title.html" %}
	
	<div class="clear"></div>
	<div class="entry">
		{% autoescape off %}
		{% if post.pagebreak %}
			{{ post.excerpt }}
            <p><span id="more-{{ post.id }}"></span></p>
			{{ post.remain }}
		{% else %}
			{{ post.content }}
		{% endif %}
		{% endautoescape %}
        <p class="meta"> 
        {% if post.enable_comment %}
        <small> &raquo; <a href="#comments">{% trans "You can leave a comment." %}</a></small>
        {% else %}
        <small> &raquo; {% trans "Comments are currently closed." %}</a></small>
        {% endif %}
        </p>
	</div>
</div>
{% endblock %}

{% block comment %}
	{% include "comment/comment.html" %}
{% endblock %}
