{% load i18n %}

<ul>{% if current %}
	<li class="page_item"><a href="/" title="Home">{% trans "Home" %}</a></li>
{% else %}
<li class="current_page_item"><a href="/" title="Home">{% trans "Home" %}</a></li>
{% endif %}
{% ifequal current 'comments' %}
<li class="current_page_item"><a href="/comments/" title="{% trans "Comments" %}">{% trans "Comments" %}</a></li>
    {% else %}
    <li class="page_item"><a href="/comments/" title="{% trans "Comments" %}">{% trans "Comments" %}</a></li>
{% endifequal %}
{% for menu_item in menus %}{% ifequal current menu_item.slug %}
<li class="current_page_item"><a href="/{{ menu_item.slug }}/" title="{{ menu_item.title }}">{{ menu_item.title }}</a></li>
	{% else %}
	<li class="page_item"><a href="/{{ menu_item.slug }}/" title="{{ menu_item.title }}">{{ menu_item.title }}</a></li>
	{% endifequal %}
{% endfor %}
<li id="pattern"></li>
</ul>
